<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <h1>Roles del usuario <%= user.email %></h1>
    </div>
    <div class="col text-end">
      <a
        href="/admin/users/roles/create/<%= user.id %>"
        class="btn btn-sm btn-primary"
        >Crear</a
      >
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if (typeof roles == 'object') { %> <% roles.forEach(role => { %>
      <tr>
        <td><%= role.role_id %></td>
        <td><%= role.name %></td>
        <td class="text-end">
          <!-- <a href="/admin/roles/edit/<%= role.id %>" class="btn btn-sm btn-info"
            >Editar</a
          > -->
          <form
            class="form-delete"
            action="/admin/users/roles/<%= role.role_id %>/<%= user.id %>?_method=DELETE"
            method="post"
            style="display: inline-block"
          >
            <button type="submit" class="btn btn-sm btn-danger">Borrar</button>
          </form>
        </td>
      </tr>
      <% }) %> <% } %>
    </tbody>
  </table>
</div>

<script>
  document.addEventListener("submit", (event) => {
    if (event.target.classList.contains("form-delete")) {
      event.preventDefault();

      if (confirm("¿Esta seguro?")) {
        event.target.submit();
      }
    }
  });
</script>
